
.footer{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    background-color: #222;
}

.footer_item{
    flex: 2;
}

.footer_item__text {
    margin-left: 10%;
}

.footer_item p{
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.923; 
    color: #b2b2b2;
}

.footer_item p:first-child{
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #fff;
}


@media(max-width : 1012px){
    .footer{
       flex-direction: column;
    }
}