.narbarMobile a {
    background-color: transparent;
    font-family: Poppins-Medium;
    font-size: 14px;
    color: white;
    line-height: 2.8;
    padding: 8px 20px 8px 20px;
    list-style-type: none;
}

.narbarMobile label {
    float: right;
    margin-right: 20px;
}

.checkMobile_acc:checked+.accMobile {
    background-color: #fff;
    padding: 10px 15px 10px 32px;
    height: 100px;
}


.checkMobile_acc:checked+.accMobile .accMobile_nav {
    display: block;

}

.accMobile_nav {
    display: none;
}

.accMobile {
    height: 0;
    transition: height 1s;
}

@media(min-width : 1012px) {

    .narbarMobile {
        display: none;
        height: 0px;
        background-color: #fff;
    }
    .narbarMobile a{
        color: red;
    }
}