
.bgSignin{
    width: 1510px;
    height: 710px;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    position: relative;
    /* left: 5px; */
}
.signin {
    margin-top: 100px;
    width: inherit;
    height: 70%;
    border: 1px solid;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 37, 37);
    /* margin-top: 10%; */
}

.signin_google {
    margin: auto;
    margin-bottom: 10px; 
}

.signin_form input {
    border-radius: 10px;
    border-color: blue;
    padding: 10px;
    width: 87;
}

h1 {
    color: white;
    font-weight: 100;
}

.signin_form button{
    border-radius: 10px;
    border-color: green;
    padding: 10px;
    width: 100%;
}

.signin_textValue{
    /* font-size: 20px; */
    color: white;
    /* font-weight: 100; */
}

@media(min-width : 1012px){
    .signin{
        width: 30%;
        left: 35%;
    }
}

/* erros */
.erros {
    color: red;
}


@media(max-width : 1012px){
    .signin{
        /* background-color: red; */
        width: 70%;
        left: 15%;
    }
}